html {
    scroll-behavior: smooth;
}

#page-wrapper {
    display: flex;
    flex-direction: column;
}

.bubble {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100px;
    width: 100px;
    font-size: 3em;
    border: solid black;
    border-radius: 50%;
    padding: 0.25em;
    margin: 5px;
    transition: 0.2s;
    color: black;
    background-color: white;
    /* text-decoration: none; */
}

#bubbles {
    position: fixed;
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: space-evenly;
}

.bubble img {
    height: 1em;
}

.bubble:hover {
    /* color: white;
    background-color: black; */
    border-color: white;
    filter: invert(1);
    text-decoration: none;
}

header {
    min-height: 100vh;
    margin-left: 8em;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#intro-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: auto;
}

#scroll-down-button:hover {
    filter: invert(1);
}

main {
    margin-left: 8em;
}

#showcase {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

#projects {
    max-height: 40vh;
    display: flex;
    flex-direction: column;
    align-content: flex-start;
}

#project-box {
    padding: 0 20px 0 0px;
    overflow-y: auto;
    overflow-x: inherit;
}

#technologies-box {
    max-height: 100%;
    padding-top: 50px;
}

.tech-icon {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.tech-icon img {
    filter: grayscale(1);
    height: 3em;
}

.card {
    justify-content: center;
}

.card-mouseover {
    opacity: 0;
    transition: 0.2s;
    background-color: rgba(255, 255, 255, 0.5);
}

.project-card .card-image{
    transition-duration: 0.2s;
}

.project-card:hover .card-image {
    filter: blur(2px) grayscale(1);
}

.project-card:hover .card-mouseover {
    opacity: 1;    
}

.card-image {
    max-height: 50vh;
    width: 100%;
}

.yawa-mouseover img{
    height: 110px;
}

@media (max-width: 1250px) {
    .display-1 {
        font-size: 3em
    }
    .display-2 {
        font-size: 2.75em
    }
    .display-3 {
        font-size: 2.25em
    }
    .display-4 {
        font-size: 1.75em
    }
}