#bubbles {
    position: fixed;
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: space-evenly;
    font-size: 3em
}

.bubble {
    border: solid;
    border-radius: 50%;
    padding: 0.25em;
    margin: 5px;
}

header {
    margin-left: 8em;   
}

#intro-text {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

main {
    margin-left: 8em;
}